body {
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
 weather-info {
    margin-top: 20px;
 }

 .error-message {
    color: red;
    font-weight: bold;
 }